* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #040303;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column {
  width: 100%;
  padding: 0.5em 0;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #F7EC09;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #F7EC09;
}
h6 {
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: #F7EC09;
}
.card {
  box-shadow: 0 0 2.4em rgba(25, 25, 0, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #F7EC09;
  cursor: pointer;
  transition: 0.3s;
  background-color:#040303;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color:#F7EC09;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background: linear-gradient(#F7EC09, #F7EC09);
  color:  #040303;
}
.card:hover .img-container {
  transform: scale(1.15);
color:  #040303;
background: linear-gradient(#040303, #040303);
}

/* Code For Custom Scrollbar Starts Here */
/* For firefox */
.sub-div {
  max-height: 100vh;
  overflow-y: scroll;
  /*Thumb color and background color for firefox */
  scrollbar-color: #F7EC09 #040303;
  overflow-x: none;
}
/*  ::-webkit- is for chrome */
::-webkit-scrollbar {
  width: 1.2em;
  overflow-x: none;
}
::-webkit-scrollbar-track {
  background-color: #040303;
  margin-block: 0.25em;
  border-radius: 0.3em;
}
::-webkit-scrollbar-thumb {
  background: #040303;
  background: -webkit-linear-gradient(to right, #F7EC09, #F7EC09);
  background: linear-gradient(to right, #F7EC09, #F7EC09);
  border-radius: 0.3em;
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
  ::selection{
    color: #fff;
    background: #9b27ca;
  }
  .wrapper{
    position: absolute;
    max-width: 480px;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 40px 30px;
    background: #fff;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06);
    transition: opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
  }
  .wrapper.show{
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
  }
  .wrapper .content,
  .content .warn-icon,
  .warn-icon .icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .content{
    flex-direction: column;
  }
  .content .warn-icon{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
  }
  .warn-icon .icon{
    height: 100px;
    width: 100px;
    background: #fff;
    border-radius: inherit;
  }
  .warn-icon .icon i{
    background: linear-gradient(#9b27ca 0%, #9927cf 0%, #d33639 100%, #f92121 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
  }
  .content h2{
    margin-top: 35px;
    font-size: 32px;
  }
  .content p{
    font-size: 19px;
    text-align: center;
    margin-top: 20px;
  }
  .btn{
    height: 57px;
    width: 223px;
    margin-top: 30px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
  }
  .btn .bg-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(135deg, #9b27ca, #d33639, #9b27ca, #d33639);
    transition: all 0.4s ease;
  }
  .btn:hover .bg-layer{
    left: 0;
  }
  .content button{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: none;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
}

